body {
	
}

.user-icon{
	width:80px;
	height:80px;
}

.mini-user-icon{
	width:40px;
	height:40px;
}

.kouho .ui-block-a{
	width: 100px;
}

.kouho .ui-block-b{
	font-size: 30px;
}

.kouho p{
	margin-top: 10px
}

.kouho .ui-checkbox{
	display: inline-block;
}


#createevent-step2 .ui-block-a{
	width: 100px;
}

#createevent-step2 .ui-block-b{
	font-size: 30px;
}

